<header role="banner" id="global-header" class="with-proposition" style="background-color: blue;">
  <div class="header-wrapper" style="background-color: blue;">
    <div class="header-global">
      <div class="header-logo">
        <a href="/" id="logo" class="content">
          <span>sportplaces.uk</span>
        </a>
      </div>
    </div>

    <div class="header-proposition">
      <div class="content">
        <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
        <nav id="proposition-menu">

          <ul id="proposition-links">
            <li><a href="/">Log out</a></li>
          </ul>

        </nav>
      </div>
    </div>
    
  </div>
</header>