{% extends "layout_unbranded.html" %}

{% block page_title %}
  sportplaces.uk
{% endblock %}

{% block content %}

{% include "includes/header_sports_places.html" %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight" style="background: #DEE0E2; color: #0B0C0C;">
        <h1 class="bold-large">Badminton booked</h1>

        <br>
        <div class="put_centre">
          <br>
          <div id="qr8" class="da-code"></div>
        </div>

          <br>
          <br>
          <br>
<br><br><br><br><br><br><br>

        <p>
                Tomorrow at 20.00-21.00
<br>
                  Flaxman Sports Centre, Camberwell (1.5 miles)
<br>
                  £20 (2 courts for 1 hour)
        </p>
        <p>
          Your booking number is <br>
          <strong class="heading-medium" style="color: blue;">HDJ2123F</strong>
        </p>
      </div>
      <p>Your ticket has been send to name@domain.com</p>

      <h2 class="heading-medium">What happens next</h2>
      <p>Arrive at Flaxman Sports Centre either show your ticket or give your name to use your booking.</p>
      <p><a href="#">Change your booking here</a></p>


    </div>
  </div>

</main>

{% endblock %}
