{% extends "layout_unbranded.html" %} 

{% block page_title %} 
  sportplaces.uk 
{% endblock %} 

{% block content %}

{% include "includes/header_sports_places.html" %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/book/pick-slot">Back</a>

      <form method="get" action="/book/payment" class="form">

        <h1 class="heading-large">
          Contact details
        </h1>

        <fieldset>
          <legend class="visuallyhidden">
            Contact details
          </legend>

<div class="form-group">
  <label class="form-label" for="first-name-2">Full name</label>
  <input class="form-control" id="first-name-2" name="first-name-2" type="text">
</div>
<div class="form-group">
  <label class="form-label" for="last-name-2">Email address</label>
  <input class="form-control" id="last-name-2" name="persons-email" type="text">
</div>


        </fieldset>

        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}
