{% extends "layout_unbranded.html" %}

{% block page_title %}
  Example without branding
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Sport places
      </h1>

      <p class="lede">Use this service to:</p>

      <ul class="list list-bullet lede">
        <li>find local places to do sport</li>
        <li>book a time and place to do sport</li>
		    <li>change a existing booking</li>
      </uL>

      <p class="lede">Booking takes around 5 minutes.</p>

      <form method="get" action="/book/which-sport" class="form">

        <div class="form-group">
          <input type="submit" class="button button-start" value="Book now" />
        </div>

      </form>

    </div>

  </div>

</main>

{% endblock %}