{% extends "layout_unbranded.html" %} 

{% block page_title %} 
  sportplaces.uk
{% endblock %} 

{% block content %}

{% include "includes/header_sports_places.html" %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/book">Back</a>

      <form method="get" action="/book/location" class="form">

        <h1 class="heading-large">
          What sport do you want to do?
        </h1>

        <fieldset>
          <legend class="visuallyhidden">
            What sport do you want to do?
          </legend>

          <!-- National Insurance number -->
          <div class="form-group">
            <label class="form-label-bold" for="ni-number">
              <span class="form-hint">
                For example badminton
              </span>
            </label>
        <!-- country picker https://github.com/alphagov/accessible-autocomplete -->
        {% include "includes/pick-nationality.html" %}
          </div>


        </fieldset>

        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}
