{% extends "layout_unbranded.html" %} 

{% block page_title %} 
  Driving lessons 
{% endblock %} 

{% block content %}

{% include "includes/header_sports_places.html" %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/register/add-spaces">Back</a>

      <form method="get" action="/register/add-spaces" class="form">

        <h1 class="heading-large">
          Badminton in 'Sports Hall'
        </h1>

        <fieldset>
          <legend class="visuallyhidden">
            What do you call this space?
          </legend>

          <div class="form-group">
            <label class="form-label" for="first-name-2">Number of courts</label>
            <input class="form-control form-control-1-8" id="first-name-2" name="space-size-width" type="text" placeholder="4">
          </div>
          <div class="form-group">
            <label class="form-label" for="last-name-2">Maxium number of players per court</label>
            <input class="form-control form-control-1-8" id="last-name-2" name="space-size-length" type="text" placeholder="4">
          </div>
          <div class="form-group">
            <label class="form-label" for="last-name-2">Cost for one hour</label>
            <input class="form-control form-control-1-8" id="last-name-2" name="space-size-length" type="text" placeholder="£10">
          </div>


          <input type="hidden" name="defined-name" value="Yes">

        </fieldset>

        <div class="form-group">
          <input type="submit" class="button" value="Save" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}
