{% extends "layout_unbranded.html" %} 

{% block page_title %} 
  sportplaces.uk
{% endblock %} 

{% block content %}

{% include "includes/header_sports_places.html" %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-one-third">
        <a class="link-back" href="/register/text-code">Back</a>
        <br>
    </div>
  </div>

  <div class="grid-row">

    <div class="column-two-thirds">

      <form method="get" action="/register/confirm-registration" class="form">

        <h1 class="heading-large">
          Bank details
        </h1>

        <p>Payments go into accounts at the time places are booked for.</p>

        <fieldset>
          <legend class="visuallyhidden">
            Contact details
          </legend>

          <div class="form-group">
            <label class="form-label" for="last-name-2">Account name</label>
            <input class="form-control" id="last-name-2" name="persons-email" type="text">
          </div>

          <fieldset class="form-group">
            <div class="form-date">

              <label class="form-label" for="last-name-2">Sort code</label>

              <div class="form-group form-group-month">
                <input class="form-control" id="dob-month" name="dob-day" type="number" pattern="[0-9]*" min="0" max="12">
              </div>

              <div class="form-group form-group-month">
                <input class="form-control" id="dob-month" name="dob-day" type="number" pattern="[0-9]*" min="0" max="12">
              </div>

              <div class="form-group form-group-month">
                <input class="form-control" id="dob-month" name="dob-day" type="number" pattern="[0-9]*" min="0" max="12">
              </div>

            </div>
          </fieldset>

          <div class="form-group">
            <label class="form-label" for="last-name-2">Account number</label>
            <input class="form-control" id="last-name-2" name="persons-email" type="text">
          </div>

        </fieldset>

        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>

      </form>

      <br>
      <br>
      <br>

    </div>

  </div>

</main>
{% endblock %}
