{% extends "layout_unbranded.html" %} 

{% block page_title %} 
  sportplaces.uk
{% endblock %} 

{% block content %}

{% include "includes/header_sports_places.html" %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/">Back</a>

      <form method="get" action="/register/phone-number" class="form">

        <h1 class="heading-large">
          What your email address?
        </h1>

        <fieldset>
          <legend class="visuallyhidden">
            What your email address?
          </legend>

          <p>This should be the email you use to manage your venue</p>

          <!-- National Insurance number -->
          <div class="form-group">
            <label class="form-label-bold" for="ni-number">
            </label>
            <input type="text" class="form-control form-control-1-2" id="location" name="place-location">
          </div>


        </fieldset>

        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}
