{% extends "layout_unbranded.html" %}

{% block page_title %}
  Example without branding
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Sport places
      </h1>

      <p class="lede">Use this service to:</p>

      <ul class="list list-bullet lede">
        <li>register places for people to do sport</li>
        <li>take bookings and payments</li>
		    <li>manages bookings and spaces</li>
      </uL>

      <br>

      <form method="get" action="/register/place-name" class="form">

        <div class="form-group">
          <input type="submit" class="button button-start" value="Register a place" />
        </div>

      </form>

      <p class="lede"> or <a href="/manage">sign in</a> if you’ve used it before</p>

    </div>

  </div>

</main>

{% endblock %}