{% extends "layout_unbranded.html" %} 

{% block page_title %} 
  Driving lessons 
{% endblock %} 

{% block content %}

{% include "includes/header_sports_places.html" %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/register/place-name">Back</a>

      <form method="get" action="/register/add-spaces" class="form">

        <h1 class="heading-large">
          Where is the place you're registering?
        </h1>

        <fieldset>
          <legend class="visuallyhidden">
            Where is the place you're registering?
          </legend>

          <!-- National Insurance number -->
          <div class="form-group">
            <label class="form-label-bold" for="ni-number">
              <span class="form-hint">
                Postcode, town or city
              </span>
            </label>
            <input type="text" class="form-control form-control-1-2" id="location" name="place-location">
          </div>


        </fieldset>

        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}
