{% extends "layout_unbranded.html" %}

{% block page_title %}
  Example - Branching
{% endblock %}

{% block content %}
<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/book/location">Back</a>

      <form action="/register/add-spaces" method="get" class="form">

        <h1 class="heading-large">
          How far can you travel to do sport?
        </h1>

        <div class="form-group">
          <fieldset>

            <legend class="visually-hidden">How far can you travel to do sport?</legend>

            <div class="multiple-choice">
              <input id="radio-1" type="radio" name="notify" value="Yes">
              <label for="radio-1">Yes</label>
            </div>
            <div class="multiple-choice">
              <input id="radio-2" type="radio" name="notify" value="No">
              <label for="radio-2">No</label>
            </div>

          </fieldset>
        </div>

        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>

      </form>

    </div>
  </div>
</main>
{% endblock %}
