{% extends "layout_unbranded.html" %} 

{% block page_title %} 
  Driving lessons 
{% endblock %} 

{% block content %}

{% include "includes/header_sports_places.html" %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/register/phone-number">Back</a>

      <form method="get" action="/register/bank-details" class="form">

        <h1 class="heading-large">
          Security code
        </h1>

        <fieldset>

          <legend class="visuallyhidden">
            Text security code
          </legend>
          
          <p>A text with a security code has been sent to XXXXXXX6534</p>

          <!-- Number of people doing sport -->
          <div class="form-group">
            <input type="text" class="form-control form-control-1-8" id="number-of-people" name="number-of-people">
          </div>

        </fieldset>

        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>

        <p><a href="#">I haven't recieved a text</a></p>

      </form>

    </div>
  </div>

</main>
{% endblock %}
